# build files
DefaultBuild/
DepFiles/
DepFilesTemp/
DepFilesTmp/
*.mtud
HardwareDebug/

# auto generation files
trash/
.metadata

# douments
SmartManual Docs/
doc/
資料/

# circuit
Circuit/jlcpcb/
Circuit/mcr_MotorDriver Ver.3-backups/
Circuit/~_autosave*

# smartconfigrator
#src/smc_gen
